@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Hata") || Model.StartsWith("Error") ? "alert-danger" : "alert-success";
    <div class="alert @statusMessageClass alert-dismissible fade show shadow-sm" role="alert">
        <i class="fas @(statusMessageClass == "alert-danger" ? "fa-exclamation-circle" : "fa-check-circle") me-2"></i>
        @Model
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

